# API Configuration
# Local dev
NEXT_PUBLIC_API_URL="http://localhost:3001"
# Production example
# NEXT_PUBLIC_API_URL="https://trailguardapi-q2zbx7653-gapbriels-projects.vercel.app"

# Environment
NODE_ENV=development 
